body{
    background-color: rgb(4, 4, 56);
    color: whitesmoke;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
    font-size: 50px;
}

p{
    font-size: 25px;
}

input, select{
    width: 200px;
    height: 40px;
    font-size: 30px;
}

#nombre{
    margin-top: 1rem;
    margin-bottom: 0;
}

#validar{
    background-color: #07E05D;
}

#reiniciar{
    background-color: #FE0703;
    margin-top: 2rem;
}

#niveles{
    margin-top: 0;   
}

#puntajes table td, th{
    border: 2px solid #C0C0CE;
    padding: .5rem;
}

#puntajes table thead{
    border: 4px solid #C0C0CE;
}

#puntajes table{
    margin: 10vw auto 2vw auto;
    font-size: 2rem;
}

#puntajes input{
    text-align: center;
    font-size: 2rem;
    
}

#puntajes table caption{
    color: rgb(190, 189, 189);
    font-size: 3rem;
}

#puntajes table{
    border-collapse: collapse;
}